.strengthContainer {
    background-color: gray; 
    margin: auto;
    width: 177px; 
    height: 5px; 
}
.strengthContainer > .strengthBar{
    background-color: red; 
    width: 1%; 
    height: 100%; 
    transition: 0.5s; 
}